body {
	background-color:#242424;
	font-family: 'Open Sans';
	color:white;
}

.keko{
	background-size: cover;
    color: #cfcfcf;
    height: 100%;
    padding-bottom: 100px;
}

.texty {
	position: relative;
    padding-top: 250px;
    padding-right: 0;
    padding-left: 100px;
    padding-bottom: 0px;
    font-size:5rem;
    max-width: 600px;
    display: inline-block;
    color:#38B6FA;
    font-weight: 800;
}


.bt{
	padding-left: 100px;
}
.button {

	width:200px;
	left:100;
	font-family: 'Open Sans';
	text-align: center;
	color:white;
	padding:10px 10px 10px 10px;
	background:transparent;
	border-radius: 10%;
	border: 3px solid #38B6FA;
}

.keko2 {
	width: 100%;
	background-color: white;
	margin-top:10px;
    height: 100%;
    padding-bottom: 80px;
}

.texto {
	padding-top:40px;
	text-align: center;
	font-size: 3rem;
	font-weight:800;
}

.woman{
}

.cir{
	width:400px;
	height: 400px;
	background: transparent;
	border:45px solid #38B6FA;
	border-radius: 50%;
	float:right;
	margin-top: -150px;
}

.info{
	max-width:380px;
	font-size: 2rem;
	font-family: 'open sans';
	font-weight: 800;
	padding-left: 100px;
	opacity: 0.8;

	
}

.keki {
    padding-top: 150px;
    padding-right: 0;
    padding-left: 10px;
    padding-bottom: 0px;
    font-size:5rem;
    max-width: 700px;
    display: inline-block;
    color:#38B6FA;
    font-weight: 800;
}

.pop{
	display: inline-block;
	font-size: 2rem;
	font-family: 'open sans';
	font-weight: 500;
	padding-right: 200px;
	padding-left: 10px
}